.MainContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10% 0 10%;
}

.InfoSection {
    padding-right: 50px;
    margin: 10px;
    color: #888888;
    text-align: left;
}

.InfoSection h3 {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 21px;
}

.paragraph {
    color: #888888;
    font-size: 17px;
    margin: 15px 0 15px 0;
}